<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>API</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h1>API</h1>
    <h2>Words API For Definitions</h2>
    <form action="/api" method="post">
        <fieldset>
            <label for="word">Enter a word you would like the defintion of:</label>
            <input type="text" name="word" id="word" required><br>
            <p>*Please provide valid words for the API to work*</p>
        </fieldset>
        <br>
        <input type="submit" id="submit">
    </form>
    <hr >
    <a href="/index">HOME</a>
</body>

</html>