<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>API</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h1>API</h1>
    <h2>Words API For Definitions</h2>
        <ul>
            <%- defs %>
        </ul>
    <hr >
    <a href="/index">HOME</a>
</body>

</html>