<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Final Project</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <h1>Welcome to my final project for CMSC335</h1>
    <h2>Databases</h2>
        <ul>
            <li>To create a user for the website click here: <a href="/signUp">Sign Up</a></li>
            <li>To login with a previous account click here: <a href="/login">Log In</a></li>
        </ul>
    <hr>
    <h2>APIs</h2>
        <ul>
            <li>To interact with the API click here: <a href="/api">API</a></li>
        </ul>
    <hr>
</body>

</html>
