<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h1>Login</h1>
    <h2>Please enter your login credentials</h2>
    <form action="/login" method="post">
        <fieldset>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required><br>
        </fieldset>
        <br>
        <input type="submit" id="submit" value="Login">
    </form>
    <hr >
    <a href="/index">HOME</a>
</body>

</html>