<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h1>Login Successful</h1>
    <p>Welcome <%- user %>!</p>
    <hr >
    <a href="/index">HOME</a>
</body>

</html>